################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bronze/2021/1. Lonely Photo/.vs/1. Lonely Photo
/Bronze/2021/1. Lonely Photo/1. Lonely Photo
